$maxMopile: "max-width: 767px";
$maxSmall: "max-width: 991px";
$minSmall: "min-width: 768px";
$minMedium: "min-width: 992px";
$minLarge: "min-width: 1200px";

$mainColor: #2196f3;
// $mainColor: rgb(255 0 0) ;
// $mainColor: #3d5afe;
// $mainColor: #afb42b;
// $mainColor: #e91e63;
// $mainColor: #00796b;
// $mainColor: #607d8b;
// $mainColor: #795548;
$greyColor: #9c9c9c;
